.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:5%;
}

.Menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu img{
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-bottom: 30px;

}

.Menu input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 20px;
}
.Menu button{
  margin-top: 100px;
  width: 250px;
}
.Menu button:hover{
  margin-top: 100px;
  background: black;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
}

.Quiz {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.button2:hover{
  background-color: black;
  color: #ffffff;

}

.Menu, .Quiz, .EndScreen h1 {
  color: white;
}

.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
}

h3 {
  color: #ffffff;

}
.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boder{
  
  width: 305px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.answer:hover{
  background-color:#5cf448;
}
.boder:focus{
  border: 2px solid black;
  border-radius: 5px;
}

.Quiz button{
  margin-top: 20px;
  width: 250px;
}